<a href="https://colab.research.google.com/github/YAMSANISAHITHI/2216125_AIML_BootCamp/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#if statement
var=100
if var>0:
  print("true")
  print(var)
var1=0
if var1>0:
  print("True")
  print(var1)

true
100

In [2]:
#if...else statement
var2=-1
if var2>0:
  print("True")
  print(var2)
else:
  print("False")
  print(var2)

False
-1

In [3]:
#nested if statements
#bus tickets
age=int(input("ENTER AGE"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("quarter ticket+ discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("no ticket")

ENTER AGE18
Half ticket

In [12]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
  sum=sum+val
print("the sum is",sum)
print("\n")
for i in range(1,11):
  print(i)
for i in range(1,11,2):
  print("\n")
  print(i)
x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print("\n")
print(y)

the sum is 48


1
2
3
4
5
6
7
8
9
10


1


3


5


7


9


[2, 4, 6, 8]

In [10]:
#using statements in for loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")
print("\n")
print("\n")
for l in "python":
  print("Current letter:",l)
#iterating by sequence indexing
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print("\n")
  print('current fruit:',fruit[index])

0
1
5
no items left




Current letter: p
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n


current fruit: apple


current fruit: banana


current fruit: grapes

In [13]:
#while
count=0
while(count<11):
  print('the count is',count)
  count=count+1
count=0
while(count<5):
  print(count,"is less than 5")
  count=count+1
else:
  print(count,"is not less than 5")

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10
0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [19]:
#nested loops
X=[[12,7,3],
   [4,5,6],
   [7,8,9]]
  
Y=[[5,8,1],[1,1,0],[5,3,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):#iterate through rows len of X=3 (rows)
  for j in range(len(X[0])):#iterate through columns len ofX[0]=
    res[i][j]=X[i][j]+Y[i][j]
for r in res:
  print(r)
[17, 15, 4]
[5, 6, 6]
[12, 11, 16]
num=int(input("ENTER TILL WHICH TABLE YOU WANT TO PRINT"))
i=1
while(i<=num):
  print(f"TABLE {i}")#rawstring
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("________________________")
  i=i+1

[17, 15, 4]
[5, 6, 6]
[12, 11, 16]
ENTER TILL WHICH TABLE YOU WANT TO PRINT5
TABLE 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
________________________
TABLE 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
________________________
TABLE 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
________________________
TABLE 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
________________________
TABLE 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
________________________

In [20]:
#control statements
#break
for l in 'Python':
  if l == 'h':
    break
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    break

Current letter: P
Current letter: y
Current letter: t
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6

In [21]:
#continue
for l in 'Python':
  if l == 'h':
    continue
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    continue

Current letter: P
Current letter: y
Current letter: t
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [22]:
#pass
for l in 'Python':
  if l == 'h':
    pass
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    print("this is pass block")
    print("this is pass block")

Current letter: P
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
this is pass block
this is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [23]:
#user defined funtions
def greet(name):
  '''this function greets a person'''
  print("Hello,\t"+name+"\tGood Morning")
greet("SRK")

Hello,	SRK	Good Morning

In [27]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [28]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [29]:
#positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [30]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Grapes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'Oranges': 20, 'Grapes': 30}

In [36]:
#higher order functions
def shout(text):
  return text.upper()
  return text.lower()
def whisper(text):
  return text.lower()  
def explain(func):
  greet=func("Hi")
  print(greet)
explain(shout)
explain(whisper)

HI
hi

In [38]:
#lambda
def incr(x):
  x=x+1
  return x
print(incr(4))
print((lambda x:x+1)(4))
res=lambda x:x+1
print(res(4))

5
5
5

In [39]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x+y
print(res(2,3))

4
5
5

In [40]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(20)

'the number 20 is even'

In [41]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [42]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))
my_list=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 34]

In [43]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [45]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655212390.6399179
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=13, tm_min=13, tm_sec=10, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 13:13:10 2022
Tue Jun 14 13:13:10 2022
None

In [46]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

45
2
0.07078429000247444

In [52]:
import random
g_num=random.randint(0,5)
g2_num=int(input("PREDICT A NUMBER"))
if g2_num==g_num:
  print("you won")
else:
  print(" you lost")

PREDICT A NUMBER6
 you lost