<a href="https://colab.research.google.com/github/YAMSANISAHITHI/2216125_AIML_BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Q1.Implement the methods of String with examples.
mystr="my first assignment"
print(mystr.upper())
print(mystr.lower())
print(mystr.swapcase())
print(mystr.title())
print(mystr.capitalize())

MY FIRST ASSIGNMENT
my first assignment
MY FIRST ASSIGNMENT
My First Assignment
My first assignment

In [19]:
my_str="    my name is bunny  "
print(my_str.strip())
print(my_str.lstrip())
print(my_str.rstrip())

my name is bunny
my name is bunny
    my name is bunny

In [20]:
#Q2.Implement the methods of List with example
list1=[3,5,6]
list1.append(4)
print(list1)
list1.extend([1,2,7])
print(list1)
list1.insert(8,4.0)
print(list1)
del list1[3]
print(list1)
list1.remove(3)
print(list1)
list1.pop()
print(list1)
list1.clear()
l1=[5,7.1,76,18,24,90,44,67,5]
print(l1.count(5))
print(len(l1))
print(l1[::-1])
l1.reverse()
print(l1)
l1.sort()
print(l1)

[3, 5, 6, 4]
[3, 5, 6, 4, 1, 2, 7]
[3, 5, 6, 4, 1, 2, 7, 4.0]
[3, 5, 6, 1, 2, 7, 4.0]
[5, 6, 1, 2, 7, 4.0]
[5, 6, 1, 2, 7]
2
9
[5, 67, 44, 90, 24, 18, 76, 7.1, 5]
[5, 67, 44, 90, 24, 18, 76, 7.1, 5]
[5, 5, 7.1, 18, 24, 44, 67, 76, 90]

In [24]:
#Q3.Implement the methods of Tuple with examples.
my_tuple=(5,6,7,8)
print(my_tuple.count(5))
print(my_tuple.index(6))
print(max(my_tuple))
print(min(my_tuple))
print(len(my_tuple))

1
1
8
5
4

In [25]:
#Q4.Implement the methods of Dictionary with examples.
my_dict={'name':'ravi','phno':9657743672,'address':'krm'}
print(my_dict['name'])
print(my_dict.keys())
print(my_dict.values())
print(my_dict.get('name'))

ravi
dict_keys(['name', 'phno', 'address'])
dict_values(['ravi', 9657743672, 'krm'])
ravi

In [27]:
#Q5.Implement the methods of Set with examples.
my_set={1,2,3,4,5}
my_set.add(6)
print(my_set)
my_set.update([10,39,46])
print(my_set)
my_set.discard(3)
print(my_set)
my_set.remove(4)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 39, 10, 46}
{1, 2, 4, 5, 6, 39, 10, 46}
{1, 2, 5, 6, 39, 10, 46}

In [29]:
#Q6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.
dec = 344
print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [34]:
#Q7.mplement Arithmetic operators with examples
a=2
b=1
print("arithmetic\n")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

arithmetic

3
1
2
2.0
2
0
2

In [37]:
#Q8.Implement Assignment operators with examples
a=10
b=2
print("assignmet\n")
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

assignmet

12
22
12
120
12.0
2.0
1024.0

In [39]:
#Q9.Implement Comparison operators with examples.
a=10
b=20
print("comparision\n")
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

comparision

False
True
False
True
False
True

In [40]:
#Q10.Implement Logical operators with examples.
print("logical\n")
x=True
y=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x not is",not x)

logical

x and y is False
x or y is True
x not is False

In [41]:
#Q11.Implement Bitwise operators with examples.
print("bitwise\n") 
a=15
b=19
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<4)

bitwise

3
28
31
-16
3
240

In [43]:
#Q12.Implement Membership operators with examples.
print("membership\n")
x="sahithi"
y={4:'y',5:'s'}
print('s' in x)
print(4 in y)
print('k'in y)

membership

True
True
False

In [46]:
#Q13.Implement Identity operators with examples
x1=5
y1=7
x2="Hello"
y2="bunny"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

True
False
False

In [51]:
#Q14.Demonstrate Negative indexing for List and apply slicing.
l1=[1,2,3,4,5,6]
print(l1[::-1])
print(l1[1:2])
print(l1[1:7:2])

[6, 5, 4, 3, 2, 1]
[2]
[2, 4, 6]

In [1]:
#Q15.Predict the output for the given code snippet and justify the result
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("----------")
print('Welcome to python training program'[3:10][::-1])
#Given print statement [::-1] reverse the whole string
#Given print statement [::-1] reverse the whole string
#[3:10] slicing operator starts from 3rd index and stops at 10th index and the it will reverse the string.

taawkcbe  tgestrcoeeA
----------
ot emoc

In [2]:
#Q16.Write a python code to get desired output
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[:3:]+" "+str[4:5:]+" "+str[5:6:]+str[7:8:]+str[9:10:]+" "+str[10:11:]+" "+str[11:12:]+str[13:14]+" "+str[14:15]+str[16:17:]+str[18:19:]+" "+str[19:20:]+" "+str[20:21:]+str[22:23:]+" "+str[24::])

WAS I TAC A RO RAC A TI SAW

In [3]:
#Q17.You are required to generate a word similar to ZOO, X and Y that denote the numberof Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 

x=int(input("length of x"))
a=('Z'*x)
#print(a)
y=len(a)
z=2*y
y=('O'*z)
#print(y)
print(a+y)

length of x3
ZZZOOOOOO